<h1 style="margin-left:37%;color:green">Details Of <%=@employee.name%></h1>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Id : <%= @employee.id%> </h3>
<h3 style="margin-left:40%; color:rgb(10, 128, 108)"> Name : <%= @employee.name %></h3>
<h3 style="margin-left:40%; color:rgb(10, 128, 108)"> Gender : <%= @employee.gender %></h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Date Of Birth : <%= @employee.dob.strftime("%d-%m-%Y") %></h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Specialization : <%= @employee.specialization %></h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Salary : <%= @employee.salary%> </h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Department_Id : <%= @employee.department_id%> </h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Post : <%= @employee.post%> </h3>
<h3 style="margin-left:40%;color:rgb(10, 128, 108)"> Manager_Id : <%= @employee.manager_id%> </h3>

