<h1>Details Of <%=@employee.name%></h1>
<h3> Id : <%= @employee.id%> </h3>
<h3> Name : <%= @employee.name %></h3>
<h3> Gender : <%= @employee.gender %></h3>
<h3> Date Of Birth : <%= @employee.dob.strftime("%d-%m-%Y") %></h3>
<h3> Specialization : <%= @employee.specialization %></h3>
<h3> Salary : <%= @employee.salary%> </h3>
<h3> Department_Id : <%= @employee.department_id%> </h3>
<h3> Post : <%= @employee.post%> </h3>
<h3> Manager_Id : <%= @employee.manager_id%> </h3>

