<div class="create"><a href="/employees/new" >Create New Employee</a>
</div>

<div class="form">
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :name, "Search for Employee :", class: "head" %>
  <%= form.text_field :name , class: "input" %><br><br>
  <%= form.label :salary, "Search for salary :", class: "head" %>
  <%= form.text_field :salary , class: "input"%><br><br>
  <%= form.label :dob, "Search for D.O.B :", class: "head" %>
  <%= form.date_field :dob , class: "input"%><br><br>

  <%= form.submit "Search", class: "submit" %>
<% end %>
</div>

<% if @name != nil and @name != "" %>
  
  <ol>
    <h2 style="color:green; text-align:center;">All Employees Filtered With Name</h2>
    <% @search_name.each do |employee|%>
      <li style="margin-left:35%; color: green;" > <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> 
      &nbsp &nbsp<%= link_to "Destroy this Employee", "/employee/destroy/#{employee.id}", method: :delete %>  
      &nbsp &nbsp <%= link_to "Edit this Employee", "/employee/edit/#{employee.id}" %></li><br>
     
    <%end%>  
  </ol>
<% end %>

<% if @salary !=nil and @salary != ""%>
  <ol>
    <h2 style="color:green; text-align:center;">All Employees Filtered With Salary</h2>
    <% @search_salary.each do |employee|%>
      <li style="margin-left:35%; color: green;" > <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> 
      &nbsp &nbsp<%= link_to "Destroy this Employee", "/employee/destroy/#{employee.id}", method: :delete %>  
      &nbsp &nbsp <%= link_to "Edit this Employee", "/employee/edit/#{employee.id}" %>
      </li><br>
     
    <%end%>  
  </ol>
<% end %>

<% if @dob != nil and @dob != "" %>
  <ol>
    <h2 style="color:green; text-align:center;">All Employees Filtered With D.O.B </h2>
    <% @search_dob.each do |employee|%>
      <li style="margin-left:35%; color: green;" > <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> 
      &nbsp &nbsp<%= link_to "Destroy this Employee", "/employee/destroy/#{employee.id}", method: :delete %>  
      &nbsp &nbsp <%= link_to "Edit this Employee", "/employee/edit/#{employee.id}" %>
      </li><br>
     
    <%end%>  
  </ol>
<% end %>

<h1 style="color:green; text-align:center;">List Of All Employees</h1>
<ol>
  <% @employees.each do |employee|%>
    <li style="margin-left:35%; color: green;" > <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> 
    &nbsp &nbsp<%= link_to "Destroy this Employee", "/employee/destroy/#{employee.id}", method: :delete %>  
    &nbsp &nbsp <%= link_to "Edit this Employee", "/employee/edit/#{employee.id}" %>
    </li><br>
     
  <%end%>  
</ol>

<div style="font-size:25px;margin-left:5% ;margin-bottom:10%"><%=link_to "previous", "/"%>

<%= will_paginate @employees%>