<h1>Details Of <%=@patient.name%></h1>
<h3> Id : <%= @patient.id%> </h3>
<h3> Name : <%= @patient.name %></h3>
<h3> Gender : <%= @patient.gender %></h3>
<h3> Date Of Birth : <%= @patient.dob.strftime("%d-%m-%Y") %></h3>
<h3> Addres : <%= @patient.address %></h3> <br>

<%= link_to "previous", "/doctors/#{@did}"%>